@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    --primary-color: hsl(26, 100%, 55%);
    --pale-primary: hsl(25, 100%, 94%);


    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}


body {
    overflow-x: hidden;
    padding: 0 5em;
    font-family: 'Kumbh Sans', sans-serif;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-left {
    display: flex;
}


.title {
    color: var(--black);
    text-decoration: none;
}


.title:hover {
    text-decoration: none;
    color: var(--black);
}


.nav-icon-tray {
    display: flex;
}


.nav-login {
    margin-left: .5em;
}


.nav-login img {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50px;
    margin-left: 1em;
    border: 1.3px solid var(--primary-color);
}


.modal-content {
    width: 370px;
}


.modal-title {
    margin: auto;
    margin-left: 7.5em;
}


.logo-div h3{
    font-weight: 700;
}


.links {
    display: flex;
    align-items: center;
    padding-left: 3em;
}


.links a {
    text-decoration: none;
}


.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.primary-navigation li a {
    margin-right: 1rem;
    color: var(--black);
    position: relative;
}


.primary-navigation li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.7em;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    transition-delay: 100ms;
}


.primary-navigation li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media (min-width: 375px){
    nav {
        padding: 1em 0;
    }
}


@media (max-width: 420px) {
    .primary-navigation {
        position: fixed;
        inset: 0 30% 0 0;
        background-color: rgb(240, 240, 240);
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: min(20vh, 10rem) 2em;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
        z-index: 5000;
    }


    .primary-navigation[data-visible='true']{
        transform: translateX(0%);
    
    }

    .mobile-nav-toggle {
        width: 1rem;
        aspect-ratio: 1;
        position: absolute;
        z-index: 9999;
        top: 1.5rem;
        left: 2rem;
        border: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1644421528/icon-menu_giuzko.svg);
    }


    .primary-navigation li a {
        line-height: 2rem;
    }


    .mobile-nav-toggle[aria-expanded='true']{
        background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1644421531/icon-close_n1rrku.svg);
    }


    nav {
        height: 66px;
    }
}



.landing {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(https://images.unsplash.com/photo-1555061486-8df38ac5fa6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80);
    background-position: center;
    background-size: cover;
    width: 100vw; */
   
}


.item {
    border: 1px solid grey;
    max-width: 300px;
    height: 350px;
    border-radius: 5px;
    margin-right: 1em;
    position: relative;
}


.item-image {
    height: 100%;
}



.item-image img {
    width: 100%;
    height: 100%;
}


.item:not(first_child) {
    margin-top: 1em;
}


.tray {
    padding-left: 1.5rem;
    display: flex;
}


.image img {
    width: 80%;
    height: auto;
    margin-top: 1em;
    border-radius: 12px;
}


.item-body {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 12;
    height: auto;
}


.right {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}


.right small {
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 1px;
}


.product-name {
    font-weight: bolder;
}


.product-price {
    font-weight: bold;
}


.product-desc {
    color: var(--dark-grayish-blue);
    width: 70%;

}


.cart-tray  button{
    border: none;
    padding: .5em 1.6em;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    font-size: .8em;
}


.cart-tray img {
    width: 1em;
    aspect-ratio: 1;
    margin-right: .4em;
    filter: invert(1);
}


.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .4em;
}


.cart-item-pic img {
    width: 3em;
    height: 3em;
    border-radius: 5px;
}


.cart-item-info {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: -7em;
    flex-direction: column;
}


.cart-item-icon-tray {
    display: flex;
    align-items: center;
    justify-content: center;
}


.checkout {
    width: 90%;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    margin: 0 auto;
    margin-top: .7em;
    color: var(--white);
}