@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    --primary-color: hsl(26, 100%, 55%);
    --pale-primary: hsl(25, 100%, 94%);


    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}


body {
    overflow-x: hidden;
    padding: 0 5em;
    font-family: 'Kumbh Sans', sans-serif;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-left {
    display: flex;
}


.title {
    color: var(--black);
    text-decoration: none;
}


.title:hover {
    text-decoration: none;
    color: var(--black);
}


.nav-icon-tray {
    display: flex;
}


.nav-icon-tray a:hover {
    text-decoration: none;
}


.nav-login {
    margin-left: .5em;
}


.nav-login img {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50px;
    margin-left: 1em;
    border: 1.3px solid var(--primary-color);
}


.fall-back {
    width: 2rem;
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50px;
    margin-left: 1em;
    background-color: gray;
    border: 1.3px solid var(--primary-color);
}


.fall-back h3 {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}


.modal {
    z-index: 30000;
}


.modal-content {
    width: 370px;
}


.modal-title {
    margin: auto;
    margin-left: 7.5em;
}


.modal {
    border-radius: 12px;
}


.logo-div h3 {
    font-weight: 700;
}


.links {
    display: flex;
    align-items: center;
    padding-left: 3em;
}


.links a {
    text-decoration: none;
}


.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.primary-navigation li a {
    margin-right: 1rem;
    color: var(--black);
    position: relative;
}


.primary-navigation li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.7em;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    transition-delay: 100ms;
}


.primary-navigation li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.login-p {
    color: var(--black);
}


.home .row {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}


.mobile-nav-toggle {
    display: none;
}



@media (min-width: 375px){
    nav {
        padding: 1em 0;
    }
}



@media (max-width: 980px){
   .case {
       min-width: 70%;
   }
}


@media (min-width: 1150px) {
    .case {
        min-width: 80%;
    }
}


@media (max-width: 676px) {
    .mobile-nav-toggle {
        display: block;
    }
    
    .primary-navigation {
        position: fixed;
        inset: 0 30% 0 0;
        background-color: rgb(240, 240, 240);
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: min(20vh, 10rem) 2em;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
        z-index: 5000;
    }


    .primary-navigation[data-visible='true']{
        transform: translateX(0%);
    
    }

    .mobile-nav-toggle {
        width: 1rem;
        aspect-ratio: 1;
        position: absolute;
        z-index: 9999;
        top: 1.5rem;
        left: 2rem;
        border: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1644421528/icon-menu_giuzko.svg);
    }


    .primary-navigation li a {
        line-height: 2rem;
    }


    .mobile-nav-toggle[aria-expanded='true']{
        background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1644421531/icon-close_n1rrku.svg);
    }


    nav {
        height: 66px;
    }


    .case {
        min-width: 100%;
        margin: 3em auto;
    }


    body {
        padding: 0 2em;
    }

    .logo-div h3{
        margin-left: 1.2em;
    }
}


@media (max-width: 710px) {
    .home .row {
        justify-content: center;
    }
}


@media (max-width: 750px) {
    .home .row {
        padding-left: 0;
    }

    .container .home {
        padding-right: 12px;
        box-sizing: border-box;
    }

    .item {
        width: 230px;
    }
}


@media (max-width: 1030px) {
    .home .row {
        padding:0 auto;
    }
}


.landing {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    padding: 0;
    width: 100%;
    background: linear-gradient(rgba(253, 253, 253, 0.856),rgba(255, 255, 255, 0)), url("https://images.unsplash.com/photo-1555061486-8df38ac5fa6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80") no-repeat center / cover;
    background-size: cover;
    background-position: center;
}


.landing span {
    color: var(--primary-color);
    font-weight: bold;
}


.landing a {
    padding: .2em .8em;
    border: 2px solid var(--primary-color);
    border-radius: 18px;
    color: var(--white);
    text-decoration: none;
}


.item {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    margin-right: 1em;
    position: relative;
    transform: scale(.988);
    transition: transform ease-in 250ms;
}


.item:hover {
    transform: scale(1);

    box-shadow: -7px 8px 11px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 8px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 8px 11px -6px rgba(0,0,0,0.75);
}


.item-image {
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
}


.item-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: .7;
    transition-property: opacity;
    position: relative;
}


.item-image .item-details {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: var(--white);
}


.item-details {
    margin-top: 8rem;
    transition: .4s;
    transition-property: transform;
    text-align: center;
}


.item-image:hover .item-details {
    transform: translateY(-40px);
}


.item-image .item-details a {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}


.item-image:hover .item-details a {
    text-decoration: underline;
}


.more {
    padding: 30px 30px 0 30px;
}


.more small {
    font-weight: bold;
    opacity: 0;
    transition: .6s;
    transition-property: opacity;
}


.item-image:hover .more small {
    opacity: 1;
}


.item-image:hover img {
    opacity: 1;
}


.item:not(first_child) {
    margin-top: 1em;
}


.item-details small span {
    font-weight: bold;
    
}


.tray {
    padding-left: 1.5rem;
    display: flex;
}


.image img {
    width: 80%;
    height: auto;
    margin-top: 1em;
    border-radius: 12px;
}


.item-body {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 12;
    height: auto;
    padding: .2em;   
}


.item-body a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}


.item-body p {
    color: var(--dark-grayish-blue);
}


.right {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}


.right small {
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 1px;
}


.product-name {
    font-weight: bolder;
}


.product-price {
    font-weight: bold;
}


.product-desc {
    color: var(--dark-grayish-blue);
    width: 70%;

}


.cart {
    padding: 0 .5em;
}


.cart-tray  button {
    border: none;
    padding: .5em 1.6em;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    font-size: .8em;
}


.cart-tray img {
    width: 1em;
    aspect-ratio: 1;
    margin-right: .4em;
    filter: invert(1);
}


.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .4em;
}


.cart-item-pic img {
    width: 3em;
    height: 3em;
    border-radius: 5px;
}


.cart-item-info {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: -7em;
    flex-direction: column;
}


.cart-item-icon-tray {
    display: flex;
    align-items: center;
    justify-content: center;
}


.checkout {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    margin: 0 auto;
    margin-top: .7em;
    color: var(--white);
}




/* reg section */

.case {
    width: 50%;
    margin: 3em auto;
    text-align: center;

    box-shadow: -4px 7px 9px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 7px 9px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 7px 9px -4px rgba(0,0,0,0.75);
}

.top,
.bottom {
    height: 3rem;
    background-color: var(--primary-color);
}


.top {
    border-radius: 5px 5px 0 0;
}


.bottom {
    border-radius: 0 0 5px 5px;
}


.middle {
    padding: 1em;
}


.middle a:hover {
    text-decoration: none;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
}


.update,
.login ,
.register {
    padding: .3em .6em;
    background-color: var(--white);
    border: none;
    text-decoration: none;
    border-radius: 15px;
    color: var(--black);
    margin: 1em 0;
    outline: 2px solid var(--primary-color);
}


.update {
    margin-left: .2rem;
}


.login ,
.register {
    padding: .4em 1.3em;
}

