{% extends 'base.html' %}  

{% block content %} 

<div class="container home">
    <div class="row">
        <div class="col-md-1">

        </div>
       
        <div class="tray col-md-11">
            <div class="row">
                {% if products %}    
                    
                    {% for product in products %} 
                        <div class="item">
                            <div class="item-image">
                                <img src="{{ product.image.url }}" alt="product image">
                                <div class="item-details">
                                    <a href="{% url 'product_detail' product.id  product.slug %}"><p>{{ product.name }}</p></a>
                                    <small><span>price: {{ product.price }}</span></small>
                                    <div class="more">
                                        <small>{{ product.description }}</small>
                                    </div>
                                </div>  
                            </div>                                            
                        </div>    
                    {% endfor %}

                {% else %}

                        <p>sorry no products in this category</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}



