{% extends 'base.html' %}  

{% block content %} 

<div class="container home">
    <div class="row">
        <div class="col-md-3">

        </div>
       
        <div class="tray col-md-9">
            {% if products %}    
                
                {% for product in products %} 
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ product.image.url }}" alt="product image">
                            <div class="item-body">
                                <a href="{% url 'product_detail' product.id  product.slug %}"><p>{{ product.name }}</p></a>
                                <p>price: {{ product.price }}</p>
                                <small>{{ product.description }}</small>
                            </div>  
                        </div>
                                        
                    </div>          
                {% endfor %}

            {% else %}

                    <p>sorry no products in this category</p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}



