{% extends 'base.html' %}  

{% block content %} 

<div class="container home">
    <div class="row">
        <div>
            <h3>categories</h3>
            <ul>
                <li {% if not category %} class="selected" {% endif %}>
                    <a href="{% url 'home' %}">all</a>
                </li>
                {% for c in categories %}  
                    <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                        <a href="">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tray">
            {% for product in products %} 
                <div class="item">
                    <a href="{% url 'product_detail' product.id  product.slug %}"><p>{{ product.name }}</p></a>
                    <p>price: {{ product.price }}</p>
                    <small>{{ product.description }}</small>
                </div>           
            
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}