{% extends 'base.html' %}  


{% load static %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="left col-md-6">
            <div class="image">
                <img src="{{ product.image.url }}" alt="">
            </div> 
        </div>
        <div class="right col-md-6">
            <small>SNEAKER COMPANY</small>
            <h3 class="product-name">{{ product.name }}</h3>
            <p class="product-desc">{{ product.description }}</p>
            <p class="product-price">Ksh {{ product.price }}</p>



            {% if request.user.is_authenticated %} 
            <div class="cart-tray">
                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                    {{ cart_product_form }}
    
                    {% csrf_token %}
                    <button type="submit" value="add to cart"><img src="{% static 'icons/icon-cart.svg' %}" alt="">add to cart</button>
                </form>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}