{% extends 'base.html' %} 



{% block content %}  
<div class="container">
    <div class="row">
        <div class="case">
            <div class="top"></div>
            <div class="middle profile">
                <img src="{{ request.user.avatar.url }}" alt="profile photo">
                <h1>{{ user.username }}</h1>
                <a class='update' href="{% url 'update-user' %}">update profile</a>
                <p>{{ user.bio }}</p>
                <!-- <a href="{% url 'logout' %}">hello, {{ request.user }} || logout</a> -->
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</div>

{% endblock %}