{% extends 'base.html' %} 

{% load bootstrap4 %}

{% block content %}  
<div class="container">
    <div class="row">
        <div class="case">
            <div class="top"></div>
            <div class="middle">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    {% bootstrap_form form %}
                
                    <div>
                        <a href="{% url 'user-profile' user.id %}">cancel</a>
                        <button type="submit" class="update">update</button>
                    </div>
                </form>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</div>
{% endblock %}