{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} 
        <title>sneakers {{ title }}</title>
    {% else %} 
        <title>sneakers</title>
    {% endif %}

    {% block styles %} 
        {% bootstrap_css %}   
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}

    {% block scripts %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}


<script>
    const primaryNav = document.querySelector('.primary-navigation')
    const navToggle = document.querySelector('.mobile-nav-toggle')

    navToggle.addEventListener('click', ()=> {
        const visibility = primaryNav.getAttribute('data-visible')

        if ( visibility === 'false'){
            primaryNav.setAttribute('data-visible', true)
            navToggle.setAttribute('aria-expanded', true)
        } else if ( visibility === 'true'){
            primaryNav.setAttribute('data-visible', false)
            navToggle.setAttribute('aria-expanded', false)
        }
    })
</script>
</body>
</html>