
<button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">menu</span></button>

<nav>
    <div class="nav-left">
        <div class="logo-div">
            <h3>sneakers</h3>
        </div>

        <div class="links">
            <ul data-visible='false' id="primary-navigation" class="primary-navigation">
                <li><a href="">Collections</a></li>
                <li><a href="">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>    
    </div>

    <div>
        hello
    </div>
   
</nav>
<hr>