{% load static %}
<button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">menu</span></button>

<nav>
    <div class="nav-left">
        <div class="logo-div">
            <a href="{% url 'home' %}"><h3>sneakers</h3></a>
        </div>

        <div class="links">
            <ul data-visible='false' id="primary-navigation" class="primary-navigation">
                <li><a href="">Collections</a></li>
                <li><a href="">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>    
    </div>

    <div class="nav-icon-tray">
        <div>

            <a href="" type="button"  data-toggle="modal" data-target="#exampleModal"><img src="{% static 'icons/icon-cart.svg' %}" alt="cart-icon"></a>
            <!-- Button trigger modal -->             
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                          <div class="cart">
                            <!-- {% with total_items=cart|length %} 
                                {% if total_items > 0 %} 
                                    {% for item in cart %} 
                                        <small>{{ product.name }}</small>
                                    {% endfor %}
                                    Your cart: 
                                        <a href="{% url 'cart:cart_detail' %}">
                                            {{ total_items }} item{{total_items|pluralize }}, ksh{{ cart.get_total_price }}
                                        </a>
                                {% else %}
                                    Your cart is empty
                                {% endif %}                                             
                            {% endwith %} -->
                        {% with total_items=cart|length %}
                            {% if total_items > 0 %}
                                {% for item in cart %} 
                                    {% with product=item.product %}
                                        <div>
                                            <p>{{ product.name }}</p>
                                            <small>{{ item.quantity }}</small>  
                                            <a href="{% url 'cart:cart_remove' product.id %}"><img src="{% static 'icons/icon-delete.svg' %}" alt="trash icon"></a>                           
                                        </div>
                                
                                    {% endwith %}
                                {% endfor %}
                            {% else %} 
                            
                            your cart is empty
                            {% endif %}
                        {% endwith %}
                          </div>
                        </div>
                        <div class="modal-footer">                                                                 
                            <small>ksh {{ cart.get_total_price }}</small>                 
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        <div class="nav-login">
            {% if request.user.is_authenticated %} 
                <div>
                    <a href="{% url 'user-profile' user.id %}"><img src="{{ request.user.avatar.url }}" alt="profil pic"></a>
                </div>
                <a href="{% url 'logout' %}">hello, {{ request.user }} || logout</a>
            {% else %}  
                <a href="{% url 'login' %}">login</a>
            {% endif %}

        </div>
    </div>
   
</nav>
<hr>